@page "/"
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <Portfolio></Portfolio>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{
    protected override async Task OnInitializedAsync()
    {
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}