@page "/"

<AuthorizeView>
    <Authorized>
        <Portfolio></Portfolio>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>

@code{

}