@inherits LayoutComponentBase
@inject ITradeService TradeService
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row mx-auto">
             <AuthorizeView>
                <Authorized>
                    <h1 class="text-center">Hi nibba, @context.User.Identity.Name. Welcome back</h1>
                    <button title="Send trades" @onclick="SendTrades">
                        Send
                    </button>
                 </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight" />
@code {
    public void SendTrades()
    {
        TradeService.SentTradesAsync();
    }
}