@inherits LayoutComponentBase
@using Blazored.Toast.Configuration


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row mx-auto">
             <AuthorizeView>
                <Authorized>
                    <h1 class="text-center">Hi nigga, @context.User.Identity.Name. Welcome back</h1>
                 </Authorized>
            </AuthorizeView>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight" />